spring:
  application:
    name: ${APP_NAME:calculate-vacation-salary}

  baseUrl: ${BASE_URL:}

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:vacation_salary_db}
    username: ${DB_USERNAME:vacation_user}
    password: ${DB_PASSWORD:vacation_password}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${JPA_HIBERNATE_DDL_AUTO:update}
    show-sql: ${JPA_SHOW_SQL:true}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  docker:
    compose:
      enabled: true

  config:
    import: optional:file:.env[.properties]

server:
  port: ${APP_PORT:8080}
  servlet:
    context-path: ${SERVER_SERVLET_CONTEXT_PATH:/}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.hamming: DEBUG
    org.springframework: DEBUG
    org.hibernate.SQL: DEBUG

avg:
  days-in-month: "29.3"